$DarkColor: #000000;
$PrimaryColor: #ffffff;
$SecondaryColor: #b3abab;
$SuccessColor: #adff2a;
$lightColor: #c1c0c3;

.table{
  background: $SuccessColor;
  font-size: 30px;
  width: 70%;
}
.table th{
  background-color: $SecondaryColor;
  padding: 10px;
}

.winner-tbody {
  text-align: center;
}